<p>Review of: <samp class="comment_book"><%=@comment.book.title%></samp></p>
<p>By: <samp class="comment_user"><%=@comment.user.username%></samp></p>
<h2 class="comment_title"><%=@comment.title%></h2>
<p class="comment_body"><%=@comment.body%></p>
<a href="#" class="js-prev">Prev</a>

<a href="#" class="js-next" data-bookid="<%=@comment.book.id%>" data-commentid="<%=@comment.id%>">Next</a>

<h3>Replies</h3>
<div class="initial_replies"><ul>
    <%@comment.replies.each do |reply|%>
        <li><%=reply.user.username%> says: <%=reply.body%></li>
    <%end%>
</ul></div>

<div class="comment_replies">
    <ul></ul>
</div>

<%=link_to "Add a reply", new_comment_reply_path(@comment)%>
<%=render partial: "replies/form", locals: {reply: Reply.new(comment_id: @comment.id, user_id: current_user.id), comment: @comment}%>