<!DOCTYPE html>
<html>
  <head>
    <title>BookLoaningApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <header>
    <% if current_user%>
      <p>Logged in: <%=current_user.username%>
      <%= add_home_button %>
      <%= add_logout_button %></p>
    <% end %>

  </header>

    <%= yield %>
  </body>
</html>
