<h3>Books</h3>
<%if @user%>
<%= form_tag user_books_path(@user), method: :get do%>
  <p>
    <%= text_field_tag :query, params[:query], placeholder: "Search by title" %>
    <%= submit_tag "Search", name: nil %>
  </p>
  <%end%>
<%else%>
<%= form_tag books_path, method: :get do %>
  <p>
    <%= text_field_tag :query, params[:query], placeholder: "Search by title" %>
    <%= submit_tag "Search", name: nil %>
  </p>
<% end %>
<%end%>
<%@books.each do |book| %>
    <%= link_to book.title, book_path(book) %><br>
<%end%>