<h2><%= @book.title %></h2><br>
By: <%= link_to @book.author.name, author_path(@book.author) unless @book.author == nil%><br>
Description: <%= @book.description%><br>
Genre Tags: <%=@book.genres.pluck(:name).join(", ")%><br>
Owner: <%=link_to @book.user.username, user_path(@book.user)%><br>

<%=link_to "Loan History", book_loans_path(@book)%><br>

<%= book_loan_links %><br>

<%if @book.user == current_user%>
    <%= link_to "Edit Book Information", edit_book_path(@book)%>
    <%= link_to "Delete Book", @book, method: :delete %>
<%end%>

<% if @book.comments%>
    <h3>Reviews</h3>
    <%@book.comments.each do |c|%><br>
    <strong><%= c.title + " by: " + c.user.username%></strong>
    <%=link_to "View Comment", book_comment_path(@book, c)%>
    <%end%>
<%end%><br>
<%= render partial: 'comments/form', locals: {comment: Comment.new(book_id: @book.id, user_id: current_user.id), book: @book}%>
<div class="all_comments"><ol></ol>
</div>