<h2><%= @book.title %></h2><br>
By: <%= link_to @book.author.name, author_path(@book.author) unless @book.author == nil%><br>
Description: <%= @book.description%><br>
Owner: <%=link_to @book.user.username, user_path(@book.user)%><br>

<%=link_to "Loan History", book_loans_path(@book)%>
<%if @book.loaned?%>
    Loaned To: <%=link_to @book.currently_loaned_to, user_path(User.find_by(username: @book.currently_loaned_to))%>
<%end%><br>

<%if @book.loaned? && @book.currently_loaned_to == current_user.username%>
    <%= link_to "Return Book", return_book_path(@book)%>
<%end%>

<%if @book.user == current_user%>
    <%if !@book.loaned?%>
        <%= link_to "Loan Book", new_book_loan_path(@book)%>
    <%end%>
    <%= link_to "Edit Book Information", edit_book_path(@book)%>
    <%= link_to "Delete Book", @book, method: :delete %>
<%end%>