<h2><%= @book.title %></h2><br>
By: <%= @book.author%><br>
Description: <%= @book.description%><br>
Owner: <%=link_to @book.user.username, user_path(@book.user)%><br>
<%if @book.user == current_user%>
    <%= link_to "Edit Book Information", edit_book_path(@book)%>
    <%= link_to "Delete Book", @book, method: :delete %>
<%end%>